div.text {
  font-size: $font-size-editor;
  font-weight: $font-weight-editor;
  letter-spacing: 0.5px;
  line-height: $line-height-editor;

  strong,
  b {
    color: $black;
  }

  iframe {
    max-width: 100%;
  }

  hr {
    display: inline-block;
    width: 100%;
  }

  div.ep-map img,
  div#map_canvas img {
    max-width: none !important;
    height: inherit;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  img.alignleft {
    margin: 0 $editor-base-unit * 0.75 $editor-base-unit * 0.75 0;
  }

  img.alignright {
    margin: 0 0 $editor-base-unit * 0.75 $editor-base-unit * 0.75;
  }

  img.aligncenter {
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $black;
    font-family: $title-font-family;
    font-weight: $fw-bold;
    letter-spacing: 0;
  }

  h1 {
    margin-bottom: $editor-base-unit * 0.38;
    padding-top: $editor-base-unit * 0.62;
    font-size: 42px;
    line-height: 1.3;
  }

  h2 {
    margin-bottom: $editor-base-unit * 0.35;
    padding-top: $editor-base-unit * 0.45;
    font-size: 32px;
    line-height: 1.4;
  }

  h3 {
    margin-bottom: $editor-base-unit * 0.35;
    padding-top: $editor-base-unit * 0.65;
    font-size: 25px;
    line-height: 1.5;
  }

  h4 {
    // margin-bottom: $editor-base-unit * 0.75;
    // padding-top: $editor-base-unit * 0.25;
    margin-bottom: $editor-base-unit * 0.35;
    padding-top: $editor-base-unit * 0.65;
    font-size: 24px;
  }

  h5 {
    // margin-bottom: $editor-base-unit * 0.75;
    // padding-top: $editor-base-unit * 0.25;
    margin-bottom: $editor-base-unit * 0.35;
    padding-top: $editor-base-unit * 0.65;
    font-size: 22px;
  }

  h6 {
    // margin-bottom: $editor-base-unit * 0.75;
    // padding-top: $editor-base-unit * 0.25;
    margin-bottom: $editor-base-unit * 0.35;
    padding-top: $editor-base-unit * 0.65;
    font-size: 20px;
  }

  h2 + h3 {
    padding-top: 0;
  }

  // Links and buttons
  a:not([class]) {
    color: $main-color;

    &:hover {
      color: $text-color;
    }
  }

  a.ep-shortcode:hover,
  .ep-shortcode a:hover {
    text-decoration: none;
  }

  // Lists
  ul,
  ol {
    margin: 0 0 0 25px;
  }

  ul,
  ul li {
    position: relative;
    list-style-position: outside;
    list-style-type: disc;
  }

  ol,
  ol li {
    list-style-position: outside;
    list-style-type: decimal;
  }

  ol ol {
    list-style: upper-alpha;
  }

  ol ol ol {
    list-style: lower-roman;
  }

  ol ol ol ol {
    list-style: lower-alpha;
  }

  ul ul,
  ol ol,
  ul ol,
  ol ul {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 0;
  }

  // Definitions
  dl {
    margin: 0 1.5em;
  }

  dt {
    font-weight: 600;
  }

  dd {
    margin-bottom: 15px;
  }

  abbr,
  acronym {
    border-bottom: 1px dotted;
    cursor: help;
  }

  ins {
    text-decoration: none;
  }

  dd,
  pre,
  blockquote {
    margin-bottom: 20px;
  }

  // Quotes
  blockquote {
    position: relative;
    z-index: 1;
    margin: 0 0 25px 0;
    padding: 40px;
    padding-left: 85px;
    border: 1px solid $border-color;
    background: no-repeat 20px 20px url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+PHBhdGggZD0iTTQuNTgzIDE3LjMyMUMzLjU1MyAxNi4yMjcgMyAxNSAzIDEzLjAxMWMwLTMuNSAyLjQ1Ny02LjYzNyA2LjAzLTguMTg4bC44OTMgMS4zNzhjLTMuMzM1IDEuODA0LTMuOTg3IDQuMTQ1LTQuMjQ3IDUuNjIxLjUzNy0uMjc4IDEuMjQtLjM3NSAxLjkyOS0uMzExIDEuODA0LjE2NyAzLjIyNiAxLjY0OCAzLjIyNiAzLjQ4OWEzLjUgMy41IDAgMCAxLTMuNSAzLjVjLTEuMDczIDAtMi4wOTktLjQ5LTIuNzQ4LTEuMTc5em0xMCAwQzEzLjU1MyAxNi4yMjcgMTMgMTUgMTMgMTMuMDExYzAtMy41IDIuNDU3LTYuNjM3IDYuMDMtOC4xODhsLjg5MyAxLjM3OGMtMy4zMzUgMS44MDQtMy45ODcgNC4xNDUtNC4yNDcgNS42MjEuNTM3LS4yNzggMS4yNC0uMzc1IDEuOTI5LS4zMTEgMS44MDQuMTY3IDMuMjI2IDEuNjQ4IDMuMjI2IDMuNDg5YTMuNSAzLjUgMCAwIDEtMy41IDMuNWMtMS4wNzMgMC0yLjA5OS0uNDktMi43NDgtMS4xNzl6IiBmaWxsPSIjNTk2MTcyIi8+PC9zdmc+');
    background-size: 40px;
    font-size: 18px;
    font-style: italic !important;
    font-weight: 400;
    line-height: 1.85;

    em {
      font-style: italic;
    }

    cite,
    &__citation {
      color: $text-color;
      font-size: 15px;
      font-style: normal;
      text-transform: none;
    }

    ul {
      padding-bottom: 0;
    }

    p {
      padding-top: 0;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  // Codes
  pre {
    max-width: 100%;
    max-height: 400px;
    overflow: auto;
    font-size: 15px;
  }

  pre:not([class*='language-']),
  code:not([class*='language-']) {
    border: 1px solid $border-color;
    background: #f9f9f9;
    color: $text-color;
    font-family: Monaco, monospace;
  }

  code:not([class*='language-']) {
    display: inline-block;
    margin: 0 1px;
    padding: 2px 8px;
    font-size: 14px;
  }

  pre:not([class*='language-']) {
    padding: 25px;
    overflow: auto;
    line-height: 1.8;

    code:not([class*='language-']) {
      border: 0;
    }

    ol {
      margin: 0 0 0 35px;
      padding: 0;
      list-style-position: outside;
      list-style: decimal;
    }

    ol li {
      padding-bottom: 0;
      list-style-position: outside;
    }
  }

  // Tables
  table {
    width: 100%;
    max-width: 100%;
    border: 1px solid #cccccc;
    text-align: center;
  }

  table,
  table th,
  table td {
    padding: 7px 15px;
    border: 1px solid #dddddd;
    text-align: center;
  }

  table th {
    font-weight: 600;
  }

  .gallery dl {
    margin: 0;
  }

  address {
    margin-bottom: $element-padding;
    font-style: italic;
  }

  /* =WordPress Core
	-------------------------------------------------------------- */
  .gallery-caption {
    color: $text-color;
  }

  .bypostauthor {
    color: $text-color;
  }

  .aligncenter,
  div.aligncenter {
    display: block;
    margin-right: auto;
    margin-bottom: $editor-base-unit * 0.75;
    margin-left: auto;
  }

  .alignright {
    margin: 0 0 $editor-base-unit * 0.75 $editor-base-unit * 0.75;
    float: right;
  }

  .alignleft {
    margin: 0 $editor-base-unit * 0.75 $editor-base-unit * 0.75 0;
    float: left;
  }

  .wp-caption {
    max-width: 96%;
    /* Image does not overflow the content area */
    margin-bottom: $element-padding;
    padding: 8px 3px 10px !important;
    border: 1px solid $border-color;
    border-radius: 7px;
    background: #ffffff;
    text-align: center;

    img {
      width: auto;
      max-width: 98.5%;
      height: auto;
      margin: 0;
      padding: 0;
      border: 0 none;
    }

    p.wp-caption-text {
      margin: 0;
      padding: 0 4px;
      font-size: 12px;
      line-height: 17px;
    }
  }

  // WP Gallery
  .gallery,
  .attachment,
  .wp-caption,
  div {
    a:not(.button) {
      border: 0;
    }
  }

  /* Text meant only for screen readers. */
  .screen-reader-text {
    position: absolute !important;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    border: 0;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
    clip-path: inset(50%);
  }

  .screen-reader-text:focus {
    display: block;
    z-index: 100000;
    top: 5px;
    left: 5px;
    width: auto;
    height: auto;
    padding: 15px 23px 14px;
    clip: auto !important;
    background-color: #eeeeee;
    color: #444444;
    font-size: 1em;
    line-height: normal;
    text-decoration: none;
    clip-path: none;
  }

  .epcl-gallery ul {
    margin: 0 -10px;

    li {
      padding: 0 5px 10px;
      padding-bottom: 20px;
      list-style: none;
    }
  }

  // Elements spacing
  iframe,
  figure,
  p {
    margin-bottom: $editor-base-unit * 0.75;
    // padding-top: $editor-base-unit * 0.25;
  }

  hr,
  pre,
  blockquote,
  table {
    margin-top: $editor-base-unit * 0.25;
    margin-bottom: $editor-base-unit * 0.75;
  }

  li {
    padding-bottom: $editor-base-unit * 0.25;
  }

  ul,
  ol {
    margin-bottom: $editor-base-unit * 0.75;

    li:last-of-type {
      padding-bottom: 0;
    }
  }

  // p:first-of-type, ul{ margin-top: 0; padding-top: 0; }
  > :first-child {
    padding-top: 0;
  }

  // Koenig Editor
  figure {
    margin-bottom: $element-padding;

    figcaption {
      margin-top: 5px;
      opacity: 0.75;
      font-size: 90%;
      text-align: center;
    }
  }

  .kg-image-card {
    width: 60%;
    margin: 0 auto $element-padding;

    &.kg-width-wide {
      width: 85%;
    }

    &.kg-width-full {
      width: 100%;
    }
  }

  .kg-embed-card {
    twitterwidget {
      margin: 0 auto !important;
    }

    iframe {
      display: block;
      width: 100%;
      height: 400px;
      margin-bottom: 0;
    }

    figcaption {
      margin-top: 10px;
    }
  }

  // Gallery Integration
  .kg-gallery-container {
    display: flex;
    flex-direction: column;

    a {
      background: none;

      &:hover {
        background: #000000;
      }
    }
  }

  .kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .kg-gallery-image img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
  }

  .kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
  }

  // Bookmark
  .kg-bookmark-card figcaption {
    margin-top: 5px;
  }

  .kg-bookmark-container {
    display: flex;
    flex-wrap: wrap;
    // border-radius: $border-radius;
    overflow: hidden;
    border: 1px solid $border-color;
    color: $text-color;
    text-decoration: none;

    &:before {
      display: none;
    }

    &:hover {
      border-color: darken($border-color, 10%);
    }
  }

  .kg-bookmark-content {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
    padding: 20px;
  }

  .kg-bookmark-title {
    color: $black;
    font-size: 15px;
    font-weight: 600;
  }

  .kg-bookmark-description {
    font-size: 14px;
  }

  .kg-bookmark-description,
  .kg-bookmark-metadata {
    margin-top: 12px;
  }

  .kg-bookmark-thumbnail {
    flex-basis: 12rem;
    flex-grow: 1;
  }

  .kg-bookmark-thumbnail img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0;
    object-fit: cover;
  }

  .kg-bookmark-icon {
    position: relative;
    top: -2px;
    width: 22px;
    height: 22px;
    margin-right: 8px;
    vertical-align: middle;
  }

  .kg-bookmark-author:after {
    content: '•';
    margin: 0 6px;
  }

  .kg-bookmark-publisher {
    font-weight: normal;
  }
}